/* ========================================
   BASE GLOBAL
======================================== */

* {
  font-family: monospace;
}

/* Remove margens padrão e trava o scroll */
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}

/* O Main ocupa toda a tela, exceto o espaço do footer */
main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
}

#game {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1a1a1a;
  color: white;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: #666;
  font-size: 0.8rem;
}

/* Área central do jogo */

/* .arena_panel {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
} */